.title {
  text-align: center;
}

.alignpre {
	margin:0 auto;
  width: 60%;
	color: white;
  background: #F9BF1A;
  border: transparent;
  border-radius: 10px;
}

.tableform {
  color: grey;
}

.lower {
  margin-top: 25px;
}

hr.big {
  width: 90%;
  border-width: 3px;
}

.show {
  color: red;
  margin: 20;
  font-size: 20px;
  background: transparent;
  border-color: red;
  border-radius: 10px;
  }

.show2 {
  color: blue;
  margin-top: 25;
  margin-bottom: 10;
  font-size: 18px;
  text-align: center-block;
  background: transparent;
  border-color: blue;
  border-radius: 10px;
}


pre.fix{
  color: grey;
  background: orange;
  border: transparent;
  border-radius: 10px;
}

.center {
  text-align: center;
  margin: 25;
}


a.current {
  background: #7a421d;
}


.big {
      font-size: 20;
      text-align: center;
      color: white;
}

.bbig {
      font-size: 18px;
      text-align: center;
      margin-top:25px;
}



label {
  color: grey;
}



section {
    /* Allow scrollspy to work without fixed navbar getting in the way of top line*/
    padding-top: 50px;
    margin-top: -50px;
    margin-bottom: -100px;
}

/* Last section can't have negative bottom margin */

.last-section {
    margin-bottom: 0px;
}

/*-----------------------------------------------------------------*/
 .navbar-inverse .navbar-nav > li > a {
   font-size: 20;
}

.navbar-brand  {
  font-size: 55;
 }


/*-----------------------------------------------------------------*/

.jumbotron {
    background-image: url('/images/background.jpg');
    background-size: cover;
    text-align: center;
    background-position: center;
    color: white;
    margin-bottom: 0px;
}

.hero {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    padding: 30px;
}

.hero p {
    text-align: center
}

.jumbotron input {
    color: red;
    margin: 5px;
}


.twitter-share-button {
    width: 77px;
}

.smoke {
    background-color: whitesmoke;
}


/* A sticky footer, or ensuring your footer appears at the bottom of a page whether you have 1 line of text or 50 pages, is annoyingly difficult
The following css deals with it. */

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* same as the footer */
}

.wrapper .container {
        margin-bottom: 50px; /* deals with mobiles */
}

.push {
    height: 50px; /* same as the footer */
}
.footer-wrapper {
    position: relative;
    height: 50px;
}

/*-----------------------------------------------------------------*/

/* The styling for your footer */

footer {
    width: 100%;
    /*Do not change the height as it's part of the sticky footer*/
    height: 80px;
    background-color: white;
    border-top: 1px solid lightgrey;
    padding-top: 10px;
    margin-top: 20px;
    color: red;
}



