body {
  padding-top: 0px;
}

h1 {
    text-align: center;
}

li {
    color: black;
}


a.current {
  background: #7a421d;
}


.big {
      font-size: 20;
      text-align: center;
}

.buffer-form
{
  margin-top:20px;
  font-size: 20;
}


.formsize{
  margin-top:20px;
  font-size:20px;
  color: black;
}


p {
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

section {
    /* Allow scrollspy to work without fixed navbar getting in the way of top line*/
    padding-top: 50px;
    margin-top: -50px;
    margin-bottom: -100px;
}

/* Last section can't have negative bottom margin */

.last-section {
    margin-bottom: 0px;
}

/*-----------------------------------------------------------------*/
 .navbar-inverse .navbar-nav > li > a {
   font-size: 20;
}

.navbar-brand  {
  font-size: 55;
 }


/*-----------------------------------------------------------------*/

.jumbotron {
    background-image: url('/images/background.jpg');
    background-size: cover;
    text-align: center;
    background-position: center;
    color: white;
    margin-bottom: 0px;
}

.hero {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    padding: 30px;
}

.hero p {
    text-align: center
}

.jumbotron input {
    color: red;
    margin: 5px;
}


.twitter-share-button {
    width: 77px;
}

.smoke {
    background-color: whitesmoke;
}


/* A sticky footer, or ensuring your footer appears at the bottom of a page whether you have 1 line of text or 50 pages, is annoyingly difficult
The following css deals with it. */

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* same as the footer */
}

.wrapper .container {
        margin-bottom: 50px; /* deals with mobiles */
}

.push {
    height: 50px; /* same as the footer */
}
.footer-wrapper {
    position: relative;
    height: 50px;
}

/*-----------------------------------------------------------------*/

/* The styling for your footer */

footer {
    width: 100%;
    /*Do not change the height as it's part of the sticky footer*/
    height: 80px;
    background-color: white;
    border-top: 1px solid lightgrey;
    padding-top: 10px;
    margin-top: 20px;
    color: red;
}

